.color-blue{
    color: $clr-blue;
}
.bg-lightgray{
    background-color: $clr-white;
}
.color-lightp{
    color: $clr-lightp;
}
.bg-pink{
    background-color: $clr-pink;
}
.width{
    width: 100%;
}
.color-white{
    color: $clr-white;
}
.envio-gratis{
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
no-margin{
    margin: 0;
}